@model authAuthorization.Models.Dtos.Registration

@{
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
    </head>
    <body>
    @if(TempData["message"] != null)
    {
        <h2>@TempData["message"]</h2>
    }
    <form asp-action="registration" asp-controller="Authentication">
            @Html.AntiForgeryToken()
             <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name"/>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
             <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email"/>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName"/>
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password"/>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
             <div class="form-group">
                <label asp-for="PasswordConfirm"></label>
                <input class="form-control" asp-for="PasswordConfirm"/>
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
        @if (User.IsInRole("admin"))
        {
            <select asp-for="Role">
                <option>Admin</option>
                <option>User</option>
            </select>
        }
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a class="btn btn-primary mt-5" asp-area="" asp-controller="Authentication" asp-action="registration">Register</a>
    </body>
</html>